<div class="container mt-3">
    <nav *ngIf="authService.isUserLogin" class="navbar navbar-expand-lg border-bottom shadow-sm">
        <div class="container">
            <!-- Show logged-in username on the left -->
            <div>
                <span class="navbar-text">
                    Welcome, <strong>{{ authService.userName }}</strong>
                </span>
            </div>

            <div class="mx-auto">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/books-list" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }">
                            Books List
                        </a>
                    </li>

                    <li *ngIf="!authService.isAdmin" class="nav-item">
                        <a class="nav-link" routerLink="/my-books" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }">
                            My Books
                        </a>
                    </li>

                    <li *ngIf="authService.isAdmin" class="nav-item">
                        <a class="nav-link" routerLink="/all-issued-books" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }">
                            Issued Books
                        </a>
                    </li>
                    <li *ngIf="authService.isAdmin" class="nav-item">
                        <a class="nav-link" routerLink="/all-returned-books" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }">
                            Returned Books
                        </a>
                    </li>
                    <li *ngIf="!authService.isAdmin" class="nav-item">
                        <a class="nav-link" routerLink="/all-borrowed-books" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }">
                            All Borrowed Books
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Logout Button -->
            <div>
                <button (click)="logout()" class="btn btn-danger">Logout</button>
            </div>
        </div>
    </nav>
</div>

<div class="container mt-4">
    <router-outlet></router-outlet>
</div>